altgraph==0.17.4
asgiref==3.7.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.1
cryptography==41.0.5
Django==3.2
django-auth-adfs==1.11.6
idna==3.4
ldap3==2.9.1
packaging==23.2
pefile==2023.2.7
pyasn1==0.5.0
pycparser==2.21
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
PyJWT==2.8.0
pytz==2023.3.post1
pywin32-ctypes==0.2.2
requests==2.31.0
sqlparse==0.4.4
urllib3==1.26.18
gunicorn
